OPENAI_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

# LLM Configuration
LLM_PROVIDER=openai
LLM_MODEL=gpt-3.5-turbo-1106

# Embeddings Configuration
EMBEDDINGS_PROVIDER=openai
EMBEDDINGS_MODEL=text-embedding-ada-002

# Other Provider API Keys (if using them)
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
MISTRAL_API_KEY=
